[submodule "translated"]
	path = translated
	url = https://github.com/purushotham-vlabs/translated.git
[submodule "test-repo1"]
	path = test-repo1
	url = https://github.com/purushotham-vlabs/test-repo1.git
